{% extends "base.html" %}
{% block extended_content %}
<div>
	<div style="position: absolute; left: 0px; top: 0px; z-index: -1; height: 100%; width: 100%;background-color: white;">

		<nav class="navbar" style="background-color: #6ebe4a;">
			<img src="{{ url_for('static', filename='images/ciscolive_white.png') }}" style="height: 60px; width: auto;">
			<img class="float-right" src="{{ url_for('static', filename='images/logo_cisco_white.png') }}" style="height: 50px; width: auto;">
		</nav>

		<div style="margin-top: 0px; background-color: #005073; width: 100%; text-align:center; color: white;">
			IoT Dashboard <span id="datetime"></span>
		</div>



		{% if sensor_data_dict and cities_list %}

			<!-- City Tabs -->
			<div class="row">
				<div class="col" style="margin: 5px;">
					<ul class="nav nav-tabs">
						{% for city in cities_list %}
							{% if city == selected_city %}
						   		<li class="nav-item">
						    		<a class="nav-link active" style="background-color: #005073; color: white;" href="#">{{city}}</a>
						  		</li>
						  	{% else %}
						    	<li class="nav-item">
				    				<a class="nav-link" href="{{ url_for('iot_dashboard',city_name=city)}}">{{city}}</a>
				  				</li>
				  			{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>


			<!-- Outer Container Full Width -->
			<div class="row">
				<div class="col" style="background-color: #EAEAEA; border-style: solid; border-width: 1px; border-color: #D2D2D2;">
					<!-- Inner Container Full Width -->
					<div class="row" style="background-color: #EAEAEA; margin: 10px;">
						<!-- Column 1 for Temperature Chart Heading and Chart -->
						<div class="col" style="background-color: white; border-style: solid; border-width: 1px; border-color: #6ebe4a;">
							<!-- Temperature Chart Heading -->
							<div class="row" style="background-color: #D2D2D2; border-bottom: solid; border-width: 1px; border-color: #6ebe4a;">
								<div style="text-align:center; width:100%; color: #1FA061;">
									<img src="{{ url_for('static', filename='images/temp.png') }}" style="height: 40px; width: auto;">
									 Temperature (C)
								</div>
							</div>
							<!-- Temperature Chart -->
							<div class="row" style="background-color: white;">
								<canvas id="{{selected_city}}_temperature_Chart"></canvas>
							</div>
						</div>
						<!-- Column 2 for Humidity Chart Heading and Chart -->
						<div class="col text-center" style="background-color: white; margin-left: 10px; border-style: solid; border-width: 1px; border-color: #6ebe4a;">
							<!-- Humidity Chart Heading -->
							<div class="row" style="background-color: #D2D2D2; border-bottom: solid; border-width: 1px; border-color: #6ebe4a;">
								<div style="text-align:center; width:100%; color: #1FA061;">
									<img src="{{ url_for('static', filename='images/humi.png') }}" style="height: 40px; width: auto;">
									Humidity (%)
								</div>
							</div>
							<!-- Humidity Chart -->
							<div class="row">
								<canvas id="{{selected_city}}_humidity_Chart"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<nav class="navbar fixed-bottom" style="background-color: #005073;">
		  <div style="color: white;">Cisco Systems, Inc.</div>
		</nav>
	</div>


	<script>


	$(document).ready(function(){

		display_ct();

		var ctx = document.getElementById("{{selected_city}}_temperature_Chart");
		var myChart = new Chart(ctx, {
		    type: 'line',
		    data: {

		        labels: [{% for item in sensor_data_dict[selected_city]['Time'] %}
	                  		"{{item}}",
	              		{% endfor %}],
		        datasets: [{
		            label: 'Temperature',
		            data: [{% for item in sensor_data_dict[selected_city]['Temperature'] %}
	                  		"{{item}}",
	              		{% endfor %}],
		            backgroundColor: [
		                'rgba(54, 162, 235, 0.2)'
		            ],
		            borderColor: [
		                'rgba(54, 162, 235, 1)',
		            ],
		            borderWidth: 2,
		            pointRadius: 0,
		            pointHoverRadius: 2,
		            pointHoverBackgroundColor: 'rgba(153, 102, 255, 1)',
		            pointHoverBorderColor: 'rgba(153, 102, 255, 1)',
		            fill: true,
		            spanGaps: true,
		        }]
		    },
		    options: {

	 			title: {
	      			display: false,
	      			text: ''
	    		},

	    		legend: {
	            display: false,
	        	},

	        	padding: {
	                left: 0,
	                right: 0,
	                top: 0,
	                bottom: 0
	            },

	            animation: {
	            	duration: 1000,
	            },

	            tooltips: {
	            	enabled: true,
	            	backgroundColor: 'rgba(54, 162, 235, 1)',
	            	titleFontColor: 'rgba(0, 0, 0, 1)',
	            	bodyFontColor: 'rgba(0, 0, 0, 1)'
	            },

		        scales: {

		       

		        	xAxes: [{
	                	display: true,
	                	gridLines: {
	                    	display: true,
	                		},
	            	}],

		            yAxes: [{
		                ticks: {
		                    beginAtZero:false
		                },
		                gridLines: {
	                    	display: true,
	                		},
		            }]
		        }
		    }
		});

		var ctx2 = document.getElementById("{{selected_city}}_humidity_Chart");
		var myChart2 = new Chart(ctx2, {
			type: 'line',
		    data: {

		        labels: [{% for item in sensor_data_dict[selected_city]['Time'] %}
	                  		"{{item}}",
	              		{% endfor %}],
		        datasets: [{
		            label: 'Humidity',
		            data: [{% for item in sensor_data_dict[selected_city]['Humidity'] %}
	                  		"{{item}}",
	              		{% endfor %}],
		            backgroundColor: [
		                'rgba(54, 162, 235, 0.2)'
		            ],
		            borderColor: [
		                'rgba(54, 162, 235, 1)',
		            ],
		            borderWidth: 2,
		            pointRadius: 0,
		            pointHoverRadius: 2,
		            pointHoverBackgroundColor: 'rgba(153, 102, 255, 1)',
		            pointHoverBorderColor: 'rgba(153, 102, 255, 1)',
		            fill: true,
		            spanGaps: true,
		        }]
		    },
		    options: {

	 			title: {
	      			display: false,
	      			text: ''
	    		},



	    		legend: {
	            display: false,
	        	},

	        	padding: {
	                left: 0,
	                right: 0,
	                top: 0,
	                bottom: 0
	            },

	            animation: {
	            	duration: 1000,
	            },

	            tooltips: {
	            	enabled: true,
	            	backgroundColor: 'rgba(54, 162, 235, 1)',
	            	titleFontColor: 'rgba(0, 0, 0, 1)',
	            	bodyFontColor: 'rgba(0, 0, 0, 1)'
	            },

		        scales: {

		       

		        	xAxes: [{
	                	display: true,
	                	gridLines: {
	                    	display: true,
	                		},
	            	}],

		            yAxes: [{
		                ticks: {
		                    beginAtZero:false
		                },
		                gridLines: {
	                    	display: true,
	                		},
		            }]
		        }
		    }
		});

	});



	function display_c(){
	var refresh=1000; // Refresh rate in milli seconds
	mytime=setTimeout('display_ct()',refresh)
	}

	function display_ct() {
	var dt = new Date();
	document.getElementById("datetime").innerHTML = ' -- ' +  dt.toGMTString() ;
	display_c();
	 }


	 // Auto refresh page 
     var time = new Date().getTime();
     function refresh() {
         if(new Date().getTime() - time >= 60000) 
             window.location.reload(true);
         else 
             setTimeout(refresh, 10000);
     }
     setTimeout(refresh, 10000);


	</script>

	{% else %}

		No Data to display.

	{% endif %}


{% endblock %}