{% extends "base.html" %}
{% block extended_content %}
<div>
	<div style="position: absolute; left: 0px; top: 0px; z-index: -1; height: 100%; width: 100%;background-color: #005073;">


		<div style="background-color: #00405c; height: 2%; width: 100%;">
		</div>

		<div class="jumbotron" style="background-color: #6ebe4a; margin-bottom: 0px; padding-top: 30px; padding-bottom: 30px">

			<img src="{{ url_for('static', filename='images/ciscolive_white.png') }}" style="height: 90px; width: auto;">
			
			<img class="float-right" src="{{ url_for('static', filename='images/logo_cisco_white.png') }}" style="height: 80px; width: auto;">

		 	<hr class="my-4" style="background-color: #005073; height: 1px;">


		 	<div class="d-flex justify-content-center">
		 		<h1 style="color: #005073;">Welcome to Cisco Live</h1>
		 	</div>

		 	<div class="d-flex justify-content-center">
		 		<h3>Congratulations! Your Hybrid Cloud App is Working.</h3>
		 	</div>

			<hr class="my-4" style="background-color: #005073; height: 1px;">
		 	
		 	<div class="d-flex justify-content-center">
		 		<h5 style="color: white;">Click on the following button to open the Dashboard</h5>
		 	</div>

		 	<div class="d-flex justify-content-center">
		 		<a class="btn btn-primary btn-lg active" style="margin-top: 10px;" href="{{ url_for('iot_dashboard',city_name='city') }}" role="button">Open Dashboard</a>
		 	</div>
		  	
		</div>
		
		<div style="background-color: #00405c; height: 2%; width: 100%;">
		</div>

		<div style="width: 100%;">
			<img src="{{ url_for('static', filename='images/top-background.png') }}" style="height: 250px;width: 100%;">
		</div>

	</div>

	<nav class="navbar fixed-bottom" style="background-color: #005073;">
	  <a class="navbar-brand" href="#">Cisco Systems, Inc.</a>
	</nav>
</div>
{% endblock %}