<!-- app/templates/base.html -->


<!DOCTYPE html>
<html lang="en">


<head>
    <title>Cisco Live - Barcelona (2019) - </title>
   
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
   <!--   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap4/css/bootstrap.min.css') }}" >
   
    
    <!-- Jqury CDN Link -->
    <!--  <script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script> -->
    
    <!-- Load Local Jquery -->
     <script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery-3.3.1.min.js') }}" >
     </script>

</head>


<body>

    {% block extended_content %} 
    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <!-- Chart.js CDN -->
    <!-- 
    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"
        crossorigin="anonymous">
    </script> 
    -->

    <!-- Load Local Char.js -->
    <script 
        src="{{ url_for('static', filename='chartjs/chart.min.js') }}"
        crossorigin="anonymous">
    </script> 


    <!-- Popper CDN -->
    <!--
    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
        crossorigin="anonymous">
    </script>
    -->

    <!-- Popper Local -->
    <script 
        src="{{ url_for('static', filename='popperjs/popper.min.js') }}"
        crossorigin="anonymous">
    </script> 

    <!-- Bootstrap JavaScript -->
    <script 
        src="{{ url_for('static', filename='bootstrap4/js/bootstrap.min.js') }}">
    </script>

    <!--
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.js">
    </script>
    -->

</body>

</html>